<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big 3 - About</title>
</head>
<body>
    <h1>Miami Heat Big 3</h1>
    <img src='https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fatlantablackstar.com%2Fwp-content%2Fuploads%2F2014%2F06%2Fmiami-heat-big-three.png&f=1'>
    <p>The best team in Miami Heat history, the Heatles went to 4 NBA Finals and won 2 NBA Championships. The team had D. Wade, LeBron James and Chris Bosh</p>
    <p><a href='/'>HOME</a></p>
    <p><a href='/photos'>PHOTOS</a></p>
</body>
</html>