<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big 3 Photo Gallery</title>
</head>
<body>
    <h1>Big 3 Photos</h1>
    <figure>
        <img src='https://media.giphy.com/media/3o7aTp7JTuH7Gq0wZq/giphy.gif' alt="bron bron">
        <figcaption>LeBron James</figcaption>
    </figure>

    <figure>
        <img src='https://media.giphy.com/media/l41Yv4K4ro5OVfGtW/giphy.gif' alt="flash">
        <figcaption>Dwyane Wade</figcaption>
    </figure>

    <figure>
        <img src='https://media.giphy.com/media/Kze50EL00ZQys/giphy.gif' alt="CB">
        <figcaption>Chris Bosh</figcaption>
    </figure>
    <p><a href='/'>HOME</a></p>
    <p><a href='/about'>ABOUT</a></p>
</body>
</html>